.nav{
  list-style: none;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 100%; 
   margin: 0px;
  display: fixed;
  background-color: aqua;
}
li :link{
  text-decoration: none;
  text-align: center;
  color:white;
  margin-top: 7px;
  margin-left: 40px;
  padding: 10px 20px;
  font-size: 25px;
  background-color: black;
  width:150px;
  border-radius: 10px;
  display: block;
  border: 5px;
}
.hhhhhq{
  color:#fff;
}
.nav{

}